
.root {
	-fx-background-color: #9fff82;
}

.titleLabel{
	-fx-font-size: 30.0;
	fx-text-fill: black;
}

.bigButton {
	-fx-font-size: 20.0;
}

.typeCol {
	-fx-alignment: CENTER;
}

.amountCol {
	-fx-alignment: CENTER-RIGHT;
}

.dateCol {
	-fx-alignment: CENTER;
}

.nameCol {
	-fx-alignment: CENTER-LEFT;
}

.noteCol {
	-fx-alignment: CENTER-LEFT;
}